WHAXON_MSF_SSL=0
WHAXON_MSF_USER=msf
WHAXON_MSF_PASS=test123
WHAXON_MSF_HOST=127.0.0.1
WHAXON_MSF_PORT=55553
WHAXON_MSF_AUTOCHAIN=0

WHAXON_LAB_TARGET=172.28.0.10
WHAXON_LAB_LHOST=172.28.0.1
WHAXON_LAB_SUBNET=172.28.0.0/16

WHAXON_AUTH_USER=whaxon
WHAXON_AUTH_PASS=whaxon
